.jumbotron {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;


}
body {
    background-color: teal;
    padding-top: 10px;
}

.list-group-item {
    font-family: Impact, 'Charcol', sans-serif;
    /*display: inline-block */
    

}   
.logoThumb {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 18px;
    bottom: 18px;
    border: 1px solid limegreen;
}

.c1 {
    display: inline-block
}

