body {
    background-color: teal;
    padding-top: 10px;
}
h1 {
    font-size: 100px;
    font-family: twitchFontLg, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    font-family: twitchFontMed, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbotron {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}
.logoThumb {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 18px;
    bottom: 18px;
    border: 1px solid limegreen;
}

.c1 {
    display: inline-block;
}

@font-face {
    font-family: twitchFontMed;
    src: url(DIMIS___Med.TTF);
}
@font-face {
    font-family: twitchFontLg;
    src: url(DIMIS___Lg.TTF);
}

